.consultar-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-top: 10px;
}

.consultar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.consultar-header h2 {
    font-size: 2rem;
    color: #333;
}

.search-input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    width: 250px;
}

.produtos-por-tipo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tipo-section-func {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.tipo-section-func h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #444;
    border-bottom: 2px solid #FFD700;
    display: inline-block;
    padding-bottom: 5px;
}

.coluna-produtos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cardapio-item {
    background-color: #fff;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardapio-item:hover {
    border-color: #FFD700;
}

.cardapio-item h4 {
    font-size: 18px;
    color: #222;
}

.cardapio-item p {
    margin: 0 0 5px;
    color: #666;
}

.cardapio-item span {
    font-weight: bold;
    font-size: 18px;
    margin-right: 15px;
    color: #222;
}



.pedido-footer-func {
    margin-top: 70px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

.button:hover {
    background-color: #FFD700;
    color: #333;
}

.button.voltar {
    background-color: #FFD700;
    color: #333;
    margin-left: 10px;
}

.button.voltar:hover {
    background-color: #333;
    color: #FFD700;
}